@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.slide {
    font-size: 6.5vmin;
    line-height: 6.6vmin;
    height: 100vh;
    max-width: 100vw;
    background-color: #24071b;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 3vw 4.5vw;
}

.commands {
    display: block;
    color: #fff;
}

.cat,
.cat>*,
.cat li {
    font-size: 5.5vmin;
    list-style: none;
}

.host {
    color: #1ac01a;
}

.last-line {
    align-items: baseline;
    display: flex;
}

#cursor {
    background: lime;
    line-height: 10px;
    margin-left: 3px;
    animation: blink 0.8s infinite;
    width: 8px;
    height: 4vmin;
    z-index: 99;
}

@keyframes blink {
    0% {
        background: #222
    }

    50% {
        background: lime
    }

    100% {
        background: #222
    }
}

a, a:visited {
    text-decoration: underline;
    color: #22A5F1;
}

.social a,.social a:visited {
    text-decoration: none;
    color: inherit;
}

.social {
    margin: 2rem 0;
}
.social a {
    margin: 1rem 0;
}

.social-button {
    padding: 4vmin;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    width: fit-content;
}

.tg {
    color: #fff;
    background-color: #00aaff74;
}

.mail {
    background-color: rgba(255, 255, 255, 0.796);
    color: #000;
}

.ig {
    background-color: #df437f78;
}

.social-button,
.social-button>* {
    max-height: 6vmin;
    margin-right: 10px;
}

.arrow {
    color: rgba(255, 255, 255, 0.273);
    font-size: 80px;
    position: fixed;
    z-index: 99;
    bottom: 4px;
    right: 10px;
    animation: down 2s infinite;
    cursor: pointer;
}
@keyframes down {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0px;
    }
}